body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: #2e8b57;
  color: white;
  padding: 15px;
  text-align: center;
}

main {
  padding: 10px;
}

button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  background: #2e8b57;
  color: white;
  border: none;
  border-radius: 5px;
}

button:active {
  background: #256b45;
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  border-radius: 8px;
}

.info {
  margin-top: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
}