<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Quicktoto</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- NAVBAR -->
    <div class="header">

        <h1>🚖 Quicktoto</h1>

        <p>Smart Toto Booking Platform</p>

    </div>



    <!-- HERO SECTION -->
    <div class="driver-container">

        <div class="ride-card">

            <h2>

                Welcome to Quicktoto

            </h2>



            <p>

                Smart transportation platform for
                Toto drivers and passengers.

            </p>



            <br>



            <!-- PASSENGER -->
            <a href="/signup/passenger">

                <button>

                    👤 Passenger Signup

                </button>

            </a>



            <a href="/login/passenger">

                <button>

                    👤 Passenger Login

                </button>

            </a>



            <hr>



            <!-- DRIVER -->
            <h3>

                Become a Quicktoto Driver

            </h3>



            <p>

                Increase earnings, receive nearby
                ride requests, and maximize
                seat usage with shared rides.

            </p>



            <a href="/signup/driver">

                <button>

                    🚖 Get Started as Toto Driver

                </button>

            </a>



            <a href="/login/driver">

                <button>

                    🚖 Driver Login

                </button>

            </a>

        </div>

    </div>



    <!-- FOOTER -->
    <div style="text-align:center; padding:20px;">

        © 2026 Quicktoto

    </div>

</body>

</html>