<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Quicktoto Login</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="header">

        <h1>🚖 Quicktoto Login</h1>

        <p>Welcome Back</p>

    </div>



    <div class="driver-container">

        <div class="ride-card">

            <h2>Login</h2>




            <form method="POST">

                <!-- USERNAME -->
                <input

                    type="text"

                    name="username"

                    placeholder="Username"

                    required

                    style="width:100%; padding:12px; margin-bottom:15px;"

                >




                <!-- PASSWORD -->
                <input

                    type="password"

                    name="password"

                    placeholder="Password"

                    required

                    style="width:100%; padding:12px; margin-bottom:20px;"

                >




                <!-- BUTTON -->
                <button type="submit">

                    Login

                </button>

            </form>




            <p>

                Don't have account?

                <a href="/signup">

                    Signup

                </a>

            </p>

        </div>

    </div>

</body>

</html>