<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Quicktoto Signup</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="header">

        <h1>🚖 Quicktoto Signup</h1>

        <p>Create Your Account</p>

    </div>



    <div class="driver-container">

        <div class="ride-card">

            <h2>Signup</h2>




            <form method="POST">

                <!-- USERNAME -->
                <input

                    type="text"

                    name="username"

                    placeholder="Username"

                    required

                    style="width:100%; padding:12px; margin-bottom:15px;"

                >




                <!-- PASSWORD -->
                <input

                    type="password"

                    name="password"

                    placeholder="Password"

                    required

                    style="width:100%; padding:12px; margin-bottom:15px;"

                >




                <!-- ROLE -->
                <select

                    name="role"

                    required

                    style="width:100%; padding:12px; margin-bottom:20px;"

                >

                    <option value="passenger">

                        Passenger

                    </option>

                    <option value="driver">

                        Driver

                    </option>

                </select>




                <!-- BUTTON -->
                <button type="submit">

                    Signup

                </button>

            </form>




            <p>

                Already have account?

                <a href="/login">

                    Login

                </a>

            </p>

        </div>

    </div>

</body>

</html>